.title {
  letter-spacing: 1.5px;
  font-weight: 400;
  display: inline-flex;
}

.titlenumber {
  font-size: 18px;
  line-height: 21.09px;
  position: relative;
  display: inline-block;
  padding: 5px 10px 10px 5px;
}

.titlenumber::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 38%;
  transform: translateX(-50%);
  width: 22px;
  height: 5px;
  background-color: #603EBE;
  border-radius: 10px;
}

.titletext {
  font-size: 36px;
  color: #C2C2C2;
}

.description {
  font-weight: 400;
  line-height: 28px;
}

@media only screen and (max-width: 620px) {
  .player {
    padding-top: 19px;
    padding-left: 18px;
    line-height: 58.59px;
  }

  .playerText {
    font-weight: 400;
    font-size: 50px;
    line-height: 58.59px;
    color: #E7E7E7;
  }
}

@media only screen and (min-width: 620px) {
  .playerText {
    padding-top: 80px;
  }

  .playerText {
    font-weight: 400;
    font-size: 80px;
    line-height: 105.47px;
    color: #E7E7E7;
    padding-top: 20px;
  }

  .headArticle {
    padding-left: 30px;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .playerText {
    font-weight: 400;
    font-size: 90px;
    line-height: 105.47px;
    color: #E7E7E7;
    padding-top: 52px;
  }
}

@media only screen and (min-width: 992px) {
  .playerText {
    padding-top: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .headArticle {
    padding-top: 124px;
    padding-left: 3%
  }
}

@media only screen and (min-width: 1600px) {
  .headArticle {
    padding-left: 321px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1920px) {}