.main {
  position: relative;
  margin: 0px;
}

.football {
  position: absolute;
  z-index: 1;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 7px;
  background-color: #D8D8D8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #5C3CAF;
}


@media only screen and (max-width: 620px) {
  .dotgroup {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
  }

  .dotgroup {
    text-align: center;
  }

  .football {
    position: absolute;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -180px;
  }

  .athlets {
    padding-left: 18px;
    line-height: 58.59px;
  }

  .athletsText {
    font-weight: 400;
    font-size: 50px;
    line-height: 58.59px;
    color: #E7E7E7;
  }

  .plusDarkFootball {
    display: unset;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    top: 90px;
    left: 20%;
  }

  .plusFootball {
    display: unset;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 81px;
    left: 13%;
    flex-shrink: 0;
  }

  .line {
    display: unset;
    position: absolute;
    width: 336.89px;
    height: 297.23px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    top: 82.91px;
    left: 15%;
    z-index: -1;
  }
}

/* Mobile styles */
@media only screen and (max-width: 320px) {
  .dotgroup {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .dotgroup {
    text-align: center;
  }

  .football {
    position: absolute;
    width: 218px;
    height: 281px;
    top: 70px;
    left: 52px;
  }

  .athlets {
    padding-left: 18px;
    line-height: 58.59px;
  }

  .athletsText {
    font-weight: 400;
    font-size: 50px;
    line-height: 58.59px;
    color: #E7E7E7;
  }

   .football {
    position: absolute;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    top: 70px;
    right: unset
  }

  .plusDarkFootball {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 90px;
    left: 74px;
  }

  .plusFootball {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 81px;
    left: 52px;
  }

  .line {
    display: unset;
    position: absolute;
    width: 178.89px;
    height: 197.23px;
    flex-shrink: 0;
    top: 82.91px;
    left: 69.36px;
    z-index: -1;
  }
}

@media only screen and (min-width: 620px) {
  .dotgroup {
    display: none;
  }

  .main {
    position: relative;
    margin: 0px;
  }

  .athletsText {
    font-weight: 400;
    font-size: 80px;
    line-height: 105.47px;
    color: #E7E7E7;
    padding-top: 20px;
  }

  .headArticle,
  .article {
    margin-left: 40%;
  }

  .athletsText {
    padding-top: 80px;
  }

  .football {
    left: -201px;
    top: 120px;
    width: 518px;
    height: 699px;
  }

  .plusDarkFootball {
    display: unset;
    position: absolute;
    width: 15.602px;
    height: 15px;
    flex-shrink: 0;
    top: 110px;
    left: 59.51px;
  }

  .plusFootball {
    display: unset;
    position: absolute;
    width: 15.602px;
    height: 15px;
    flex-shrink: 0;
    top: 101px;
    left: 36.63px;
  }

  .line {
    display: unset;
    position: absolute;
    width: 217.679px;
    height: 233.717px;
    flex-shrink: 0;
    top: 138.89px;
    left: 36.54px;
    z-index: -1;
  }

 
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .athletsText {
    font-weight: 400;
    font-size: 90px;
    line-height: 105.47px;
    color: #E7E7E7;
    padding-top: 87px;
  }

  .headArticle {
    margin-left: 291px;
  }

  .football {
    left: -161px;
    top: 120px;
    width: 518px;
    height: 699px;
  }
}

@media only screen and (min-width: 992px) {
  .athletsText {
    padding-top: unset;
  }

  .athlets {
    padding-top: 24px
  }

  .headArticle {
    margin-left: 47%;
  }

  .football {
    height: 800px;
    top: 45px;
    left: -10px;
  }

  .line,
  .plusFootball,
  .plusDarkFootball {
    display: none;
  }


}


@media only screen and (min-width: 1280px) {
  .headArticle,
  .article {
    margin-left: 50%;
  }

  .football {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 20px;
  }

  .line,
  .plusFootball,
  .plusDarkFootball {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .football {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 125px;
  }

  .headArticle {
    padding-top: 24px;
  }

  .article {
    position: absolute;
  }

  .athlets {
    padding-top: 0px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1920px) {

  .headArticle,
  .article {
    margin-left: 1008px;
  }

  .football {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 175px;
  }
}