.basketball {
  position: absolute;
  z-index: 1;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.dot2 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 7px;
  background-color: #D8D8D8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot2:hover {
  background-color: #5C3CAF;
}

@media only screen and (max-width: 620px) {
  .basketball {
    position: absolute;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: auto;
  }

  .lineBas {
    display: unset;
    position: absolute;
    width: 235.823px;
    height: 208.061px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    top: 900px;
    left: 52px;
    z-index: -1;
  }

  .lineBas2 {
    display: unset;
    position: absolute;
    width: 235.823px;
    height: 208.061px;
    flex-shrink: 0;
    top: 850px;
    left: 50%;
    z-index: -1;
  }

  .dotgroup2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1450px;
    text-align: center;
    z-index: 1;
  }

  .plusBasketball {
    display: unset;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 850px;
    left: 20%;
    flex-shrink: 0;
  }

  .plusDarkBasketball {
    display: unset;
    position: absolute;
    flex-shrink: 0;
    top: 860px;
    left: 25%;
  }

  .plusDarkBasketball2 {
    display: unset;
    position: absolute;
    flex-shrink: 0;
    top: 1000px;
    left: 75%;
  }

}

/* Mobile styles */
@media only screen and (max-width: 320px) {
  .basketball {
    position: absolute;
    width: 302px;
    height: 249px;
    top: 681px;
    left: 3px;
  }

  .lineBas {
    display: unset;
    position: absolute;
    width: 106.35px;
    height: 123.2px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    top: 789.92px;
    left: 52px;
    z-index: -1;
  }

  .lineBas2 {
    display: unset;
    position: absolute;
    width: 76.69px;
    height: 89.84px;
    flex-shrink: 0;
    top: 704.32px;
    left: 199.89px;
    z-index: -1;
  }

  .plusBasketball {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 680px;
    left: 52px;
  }

  .plusDarkBasketball {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 689px;
    left: 74px;
  }

  .plusDarkBasketball2 {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 830px;
    left: 269px;
  }

  .dotgroup2 {
    top: 1093px;
  }
}

@media only screen and (min-width: 620px) {
  .basketball {
    left: 331px;
    top: 852px;
    width: 518px;
    height: 699px;
  }

  .plusDarkBasketball {
    display: unset;
    position: absolute;
    width: 15.602px;
    height: 15px;
    flex-shrink: 0;
    top: 941px;
    left: 555px;
  }

  .plusDarkBasketball2 {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 1134px;
    left: 713px;
    z-index: -1;
  }

  .plusBasketball {
    display: unset;
    position: absolute;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    top: 924px;
    left: 533px;
  }

  .lineBas {
    display: unset;
    position: absolute;
    width: 178.88px;
    height: 207.22px;
    flex-shrink: 0;
    top: 1115.89px;
    left: 490px;
  }

  .lineBas2 {
    display: none;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .basketball {
    left: -161px;
    top: 120px;
    width: 518px;
    height: 699px;
  }
}

@media only screen and (min-width: 992px) {
  .basketball {
    height: 800px;
    top: 45px;
    left: -10px;
  }

  .lineBas,
  .plusBasketball,
  .plusDarkBasketball {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .basketball {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 20px;
  }

  .lineBas,
  .plusBasketball,
  .plusDarkBasketball {
    display: none;
  }

  .dotgroup2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 620px) {
  .dotgroup2 {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .basketball {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 125px;
  }
}

@media screen and (min-width: 1920px) {
  .basketball {
    width: 678px;
    height: 950px;
    top: 35px;
    left: 175px;
  }
}