.title {
  letter-spacing: 1.5px;
  font-weight: 400;
  display: inline-flex;
}

.titlenumber {
  font-size: 18px;
  line-height: 21.09px;
  position: relative;
  display: inline-block;
  padding: 5px 10px 10px 5px;
}

.titlenumber::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 38%;
  transform: translateX(-50%);
  width: 22px;
  height: 5px;
  background-color: #603EBE;
  border-radius: 10px;
}

.titletext {
  font-size: 36px;
  color: #C2C2C2;
}

.description {
  font-weight: 400;
  line-height: 28px;
}

@media only screen and (max-width: 620px) {
  .first, .second, .thrid {
    display: none;
    background-color: #F5F4F9;
    margin-top: 400px;
    padding-left: 22px;
    padding-right: 22px;
    height: 284px;
  }

  .titlenumber {
    font-size: 14px;
  }

  .titletext {
    font-size: 28px;
  }

  .description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    width: auto;
  }

  .article {
    margin-top: 50%;
    padding-top: 72px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 320px) {
  .titlenumber {
    font-size: 14px;
  }

  .titletext {
    font-size: 28px;
  }

  .description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    width: 284px;
  }

  .article {
    margin-top: 50%;
    padding-top: 72px;
  }

  .first, .second, .thrid {
    display: none;
    background-color: #F5F4F9;
    margin-top: 237px;
    padding-left: 22px;
    height: 284px;
  }
}

@media only screen and (min-width: 620px) {
  .article {
    margin-left: 40%;
  }

  .second {
    background-color: #F5F4F9;
  }

  .thrid {
    background-color: #5E3DB3 !important;
  }

  .titlenumber {
    font-size: 14px;
  }

  .titletext {
    font-size: 28px;
  }

  .description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 20px;
    width: 284px;
  }

  .titlenumber {
    font-size: 18px;
    line-height: 21.09px;
    position: relative;
    display: inline-block;
    padding: 3px 10px 6px 1px;
  }

  .titlenumber::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 34%;
    transform: translateX(-50%);
    width: 22px;
    height: 5px;
    background-color: #603EBE;
    border-radius: 10px;
  }

  .description {
    font-size: 18px;
    padding-top: 21px;
    font-style: normal;
    width: 385px;
  }

  .thrid .titlenumber::after {
    background-color: #FFFFFF;
  }

  .thrid .description {
    color: #FFFFFF;
  }

  .first {
    height: 190px;
  }

  .first .title {
    padding-top: 36px;
  }

  .second {
    height: 250px;
  }

  .thrid .article,
  .second .article {
    padding-top: 30px;
  }

  .thrid {
    height: 220px;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .description {
    font-size: 18px;
    padding-top: 21px;
    font-style: normal;
    width: 447px;
  }

  .article {
    margin-left: 291px;
  }
}

@media only screen and (min-width: 992px) {
  .article {
    margin-left: 47%;
  }

  .description {
    width: 460px;
  }

  .first .title {
    padding-top: 40px;
  }

  .second {
    height: 250px;
  }

  .thrid {
    height: 250px;
  }

  .thrid .article {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .article {
    margin-left: 50%;
  }

  .description {
    font-size: 20px;
    width: 600px;
  }

  .first {
    height: 220px;
  }

  .first .title {
    padding-top: 59px;
  }

  .second {
    height: 256px;
  }

  .second .article {
    padding-top: 53px;
  }

  .thrid {
    height: 297px;
  }

  .thrid .article {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1600px) {
  .article {
    position: absolute;
  }

  .description {
    width: 717px;
  }

  .first, .second, .third {
    position: relative;
    z-index: -1;
  }

  .first .description {
    padding-top: 31px;
  }

  .first {
    height: 220px;
  }

  .first .title {
    padding-top: 59px;
  }

  .second {
    height: 256px;
  }

  .second .article {
    padding-top: 53px;
  }

  .third {
    height: 297px;
  }

  .third .article {
    padding-top: 80px;
  }

}

/* Desktop styles */
@media screen and (min-width: 1920px) {
  .article {
    margin-left: 1008px;
  }
}